<html>
    <head>
        <title>My djangogirls experience</title>
    </head>
    <body>
        <div>
            <h1><a href="">Domcha's blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2015, 12:14</p>
            <h2><a href="">How it all started?</a></h2>
            <p>I have noticed a fb post about the Django girls workshop, I have put together a nice cover letter why I want to learn django and then I was waiting for couple of days for the response... As you can see I got in and right now I am actually coding thsi website :)</p>
        </div>

        <div>
            <p>published: 16.05.2015, 12:14</p>
            <h2><a href="">How the day went?</a></h2>
            <p>As we are still in the middle of coding I will leave this for later. But so far so good!</p>
        </div>
    </body>
</html>
